body {
    background-color: black !important;
    color: white !important;
}

#stocks-down-pink,
#stocks-up-pink,
#stocks-down-rock,
#stocks-up-rock,
#stocks-down-phosphor,
#stocks-up-phosphor,
#stocks-down-tabby,
#stocks-up-tabby {
    display: none;
}

.scales-h1 {
    height: 2.5rem;
    display: inline;
}

.scales-h2 {
    height: 2rem;
    display: inline;
}

.scales-h5 {
    height: 1.25rem;
    display: inline;
}

.scales-h6 {
    height: 1rem;
    display: inline;
}

.default-height {
    height: 5rem !important;
}

.default-height2 {
    height: 5.55rem;
}

.clicker-height {
    height: 15rem;
}

#click-pink {
    display: inline;
}

#click-rock,
#click-phosphor,
#click-tabby,
#click-puddle,
#click-fire,
#click-honey,
#click-boom,
#click-rad,
#click-hunter,
#click-crystal,
#click-saber,
#click-dervish,
#click-quantum,
#click-tangle,
#click-mosaic {
    display: none;
}