body {
    background-color: black !important;
    color: white !important;
}

#stocks-down-pink,
#stocks-up-pink,
#stocks-down-rock,
#stocks-up-rock,
#stocks-down-phosphor,
#stocks-up-phosphor,
#stocks-down-tabby,
#stocks-up-tabby,
#stocks-down-puddle,
#stocks-up-puddle,
#stocks-down-fire,
#stocks-up-fire,
#stocks-down-honey,
#stocks-up-honey,
#stocks-down-boom,
#stocks-up-boom,
#stocks-down-hunter,
#stocks-up-hunter,
#stocks-down-rad,
#stocks-up-rad,
#stocks-down-crystal,
#stocks-up-crystal,
#stocks-down-saber,
#stocks-up-saber,
#stocks-down-dervish,
#stocks-up-dervish,
#stocks-down-quantum,
#stocks-up-quantum,
#stocks-down-tangle,
#stocks-up-tangle,
#stocks-up-mosaic,
#stocks-down-mosaic,
#stocks-up-gold,
#stocks-down-gold,
#click-rock,
#click-phosphor,
#click-tabby,
#click-puddle,
#click-fire,
#click-honey,
#click-boom,
#click-rad,
#click-hunter,
#click-crystal,
#click-saber,
#click-dervish,
#click-quantum,
#click-tangle,
#click-mosaic,
#click-gold {
    display: none;
}

#click-pink,
#click-rock,
#click-phosphor,
#click-tabby,
#click-puddle,
#click-fire,
#click-honey,
#click-boom,
#click-rad,
#click-hunter,
#click-crystal,
#click-saber,
#click-dervish,
#click-quantum,
#click-tangle,
#click-mosaic,
#click-gold {
    cursor: pointer;
}

.scales-h1 {
    height: 2.5rem;
    display: inline;
}

.scales-h2 {
    height: 2rem;
    display: inline;
}

.scales-h5 {
    height: 1.25rem;
    display: inline;
}

.scales-h6 {
    height: 1rem;
    display: inline;
}

.default-height {
    height: 5rem !important;
}

.default-height2 {
    height: 5.55rem;
}

.clicker-height {
    height: 15rem;
}

.lucky-height {
    height: 10rem;
}

#luckyPopup {
    position: fixed;
    z-index: 9999;
    background-color: brown;
    top: 15rem;
    width: 100%;
}

.clicker-height:active {
    transform: scale(1.05);
}